.card {
  border: 2px  blueviolet;
  height: 300px;
  width: 200px;
  padding: 10px;
  border-style: solid ;
}
/* one card: 200 + 10 + 10 + 2 + 2 */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 700px;
}