.dice {
    display:inline-table;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    text-align: center;
    justify-items: center;
}
.dices {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 198px;
    border: 2px solid black;
    background: white;
    cursor: pointer;
    justify-content: center;
}
.app {
    display: flex;
    border: 3px solid black;
    height: 200px;
    width: 500px;
    justify-content: space-between;
    background: lightblue;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 198px;
    width: 200px;
    background: fuchsia;
}